$select: ".button" !default;

// abstracts
@use "./../abstracts/button";

@mixin base {
    #{$select} {
        @include button.container;
        @include button.structure;

        @content;
    }
}

@mixin round-border-color(
    $background-color: black,
    $color-second: white,
    $border-color: $background-color
) {
    #{$select} {
        &--round-border {
            border: 2px solid;

            @include color-map($background-color, $color-second, $border-color);

            @content;
        }
    }
}

@mixin capsule {
    #{$select} {
        &--capsule {
            @include button.capsule;

            &--circular {
                @include button.capsule-circular;
            }
        }
    }
}

@mixin classic {
    #{$select} {
        &--classic {
            @include button.classic {
                &--alpha > span::before {
                    border: none;
                    left: 0;
                    box-shadow: 0.01em 0.04em 0.4em hsla(0, 0%, 0%, 0.7);
                }
            }
        }
    }
}

@mixin flat {
    #{$select} {
        &--flat {
            @include button.flat;
        }
    }
}

@mixin color-map(
    $background-color: black,
    $text-color: white,
    $border-color: $background-color
) {
    background: $background-color;
    border-color: $border-color;

    &::before {
        background: $background-color;
    }

    &::after {
        background: $text-color;
    }

    &,
    &:link,
    &:visited {
        color: $text-color;
        text-decoration: none;
    }

    &:hover,
    &:focus,
    &#{$select}--is-active {
        color: $background-color;
    }

    &#{$select}--is-active::after {
        opacity: 1;
    }
}

@mixin name-color-map(
    $namespace: "first",
    $background-color: black,
    $text-color: white,
    $border-color: $background-color
) {
    #{$select} {
        &--#{$namespace} {
            @include color-map($background-color, $text-color, $border-color);
        }
    }
}

@mixin name-color-map-contrast(
    $namespace: "first",
    $background-color: black,
    $text-color: white
) {
    @include name-color-map($namespace, $background-color, $text-color);
    @include name-color-map(
        "#{$namespace}-contrast",
        $text-color,
        $background-color
    );
}

@mixin express-checkout {
    #{$select} {
        &--express-checkout {
            &[data-state] {
                transition: border-color 0.3s ease-in-out;
            }

            &:not([data-state="card"]) {
                padding: 2px;
                background: transparent;

                &::before {
                    background: transparent;
                }

                &:not(:hover):not(:focus) {
                    border-color: transparent;
                }

                :not(#{$select}__state),
                > span {
                    display: none;
                }
            }

            &[data-state="card"] {
                > img {
                    display: none;
                }
            }
        }
    }
}
