$select: ".close" !default;
$hidden-namespace: "hidden" !default;

// abstracts
@use "./../abstracts/close";

@mixin new($select: $select, $hidden-namespace: $hidden-namespace) {
    @include base($select: $select, $hidden-namespace: $hidden-namespace) {
        @content;
    }
}

@mixin base($select: $select, $hidden-namespace: $hidden-namespace) {
    $rotateZ: 45deg;
    $scaleY: 1.35;

    #{$select} {
        &__close {
            @include close.visible;
        }

        &--#{$hidden-namespace} &__close {
            @include close.hidden;
        }

        @content;
    }
}
