$select: ".list" !default;
$breakpoint: 1000px !default;

// abstracts
@use "./../abstracts/list";

@mixin base {
    #{$select} {
        @include list.structure;

        @content;
    }
}

@mixin links {
    #{$select} {
        margin: 1.5rem auto;
        list-style: none;
        text-align: center;

        > li {
            a {
                padding: 0.25em;
                display: block;
            }

            &::before {
                display: none;
            }
        }

        @media all and (min-width: $breakpoint) {
            > li {
                display: inline-block;
                margin: 0.5em 0;
                border-right: 1px solid;
                a {
                    padding: 0em 0.5em;
                }
            }
        }

        @media all and (max-width: $breakpoint) {
            text-align: left;
            column-width: 20em;
            column-rule: 1px solid;
        }

        > li {
            &:last-child {
                border: none;
            }
        }

        @content;
    }
}

@mixin grid($width: 20em, $gap: 2em) {
    #{$select} {
        &--grid {
            @include list.convert-to-grid($width, $gap);

            @content;
        }
    }
}

@mixin square {
    #{$select} {
        &--square {
            @include list.bullet("■") {
                margin-left: -1.5em;
                width: 1.5em;
            }

            @content;
        }
    }
}

@mixin disc {
    #{$select} {
        &--disc {
            @include list.bullet;

            @content;
        }
    }
}
