@use "sass:math";

$base: 1 !default;

$-pixel: 16;

$base-pixel: $base * $-pixel;

@function pixel-over-base(
    $pixel: $pixel,
    $base-pixel: $base-pixel,
    $media: false
) {
    @if ($media) {
        $base-pixel: $-pixel;
    }

    @return math.div($pixel, $base-pixel);
}

@function to-rem($pixel: $pixel, $media: false) {
    @return #{pixel-over-base($pixel: $pixel, $media: $media)}rem;
}

@function to-em($pixel: $pixel, $media: false) {
    @return #{pixel-over-base($pixel: $pixel, $media: $media)}em;
}
