$select: ".view" !default;
$breakpoint: 1000px !default;

// abstracts
@use "./../abstracts/load-item";

@mixin base {
    @include set-anchor-position();

    #{$select} {
        position: relative;

        &__anchor {
            position: absolute;
        }

        &__in {
            position: relative;
        }

        &__scroll {
            position: -webkit-sticky;
            position: sticky;
        }

        @content;
    }
}

@mixin set-anchor-position($static-amount: 6rem, $dynamic-amount: 6rem) {
    #{$select} {
        &__anchor {
            @supports (position: sticky) {
                top: calc(#{$static-amount} * -1);
            }

            @media all and (max-width: $breakpoint) {
                top: calc(#{$dynamic-amount} * -1);
            }
        }

        &__scroll {
            @supports (position: sticky) {
                top: calc(#{$static-amount} * -1);
            }

            @media all and (max-width: $breakpoint) {
                top: calc(#{$dynamic-amount} * -1);
            }
        }

        @include load-item.set-offset-from-top($static-amount);

        @media all and (max-width: $breakpoint) {
            @include load-item.set-offset-from-top($dynamic-amount);
        }
    }
}

@mixin zero-anchor-position($parent-select: $select) {
    #{$parent-select} {
        & > #{$select}__anchor {
            top: 0;
        }

        #{$select}__scroll {
            top: 0;
        }

        @content;
    }
}

@mixin set-position-context(
    $parent-select: $select,
    $static-amount: 6rem,
    $dynamic-amount: $static-amount
) {
    #{$parent-select} {
        margin-top: -#{$static-amount};

        @media all and (max-width: $breakpoint) {
            margin-top: -#{$dynamic-amount};
        }

        #{$select} {
            &__offset {
                padding-top: #{$static-amount};

                @media all and (max-width: $breakpoint) {
                    padding-top: #{$dynamic-amount};
                }
            }

            &__flow {
                padding-top: #{$static-amount};
                margin-bottom: -#{$static-amount};

                @media all and (max-width: $breakpoint) {
                    padding-top: #{$dynamic-amount};
                    margin-bottom: -#{$dynamic-amount};
                }
            }
        }

        @content;
    }
}

@mixin target {
    #{$select} {
        &__target {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: -1em;
                outline: 1px solid black;
                opacity: 0;
            }
        }

        &__anchor:target ~ &__route-target &__target {
            &::before {
                opacity: 1;
            }
        }
    }
}

@mixin scrolling-content {
    #{$select} {
        &--scrolling-content {
            #{$select} {
                &__anchor {
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
            }

            @content;
        }
    }
}
