$rotateZ: 45deg;
$scaleY: 1.35;
$transition-delay: 0.35;

@mixin visible {
    flex: 0 0 auto;
    width: 3em;
    height: 3em;
    display: block;
    border: none;

    background: none;
    position: relative;

    &::before,
    &::after {
        content: "";
        width: 0.2em;
        height: inherit;
        background: currentColor;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        transition: transform 300ms ease-out #{$transition-delay}s;

        @media (prefers-reduced-motion: reduce) {
            transition: none;
        }
    }

    &::before {
        transform-origin: top right;
        right: auto;
    }

    &::after {
        transform-origin: top left;
        transition-delay: #{$transition-delay + 0.35}s;
        left: auto;
    }

    @include display;
}

@mixin display {
    &::before {
        transform: rotateZ(-$rotateZ) scaleY($scaleY);
    }

    &::after {
        transform: rotateZ($rotateZ) scaleY($scaleY);
    }
}

@mixin hidden {
    &::before {
        transform: rotateZ(-$rotateZ) scaleY(0);
    }

    &::after {
        transform: rotateZ($rotateZ) scaleY(0);
    }
}
