$select: ".copy" !default;
$margin: 1rem !default;

@mixin separate($margin: $margin) {
    > * + * {
        margin-top: $margin;
        @content;
    }
}

@mixin new($select: $select, $margin: $margin) {
    #{$select} {
        @include separate($margin);

        @content;
    }
}
