@mixin gutter($gutter-contract: 0.5rem, $gutter-expand: $gutter-contract) {
    margin: -#{$gutter-contract};

    @include gap($gutter-expand);
    @content;
}

@mixin gap($gap: 0.5rem) {
    > * {
        margin: #{$gap};
    }

    @content;
}

@mixin gutter-with-side-reset(
    $gutter: 0.5rem,
    $reset-horizontal-side: false,
    $reset-vertical-side: false
) {
    @include gutter($gutter) {
        @if ($reset-horizontal-side) {
            margin-left: 0;
            margin-right: 0;
        }

        @if ($reset-vertical-side) {
            margin-top: 0;
            margin-bottom: 0;
        }

        @content;
    }
}

@mixin contain($gutter: 0.5rem) {
    @include flexbox {
        justify-content: space-around;
    }

    overflow: hidden;

    @include flexchild {
        @content;
    }

    @include gutter($gutter);
}

@mixin flexchild($flex: 0 1 auto) {
    > * {
        flex: #{$flex};

        @content;
    }
}

@mixin flexbox {
    display: flex;
    flex-wrap: wrap;

    @content;
}

@mixin contain-gap($gap: 0.5rem) {
    @include flexbox;
    @include gap($gap);

    @content;
}
