@mixin structure($offset: 1.5rem, $gap: 1rem) {
    margin-left: #{$offset};
    list-style: none;

    > * {
        @supports (display: flex) {
            display: flex;
        }

        break-inside: avoid;
        padding: 0;

        &:not(:last-child) {
            margin-bottom: #{$gap};
        }
    }
} 

@mixin inline {
    > * {
        display: inline-block;

        &:not(:last-child)::after {
            content: "|";
            margin: 0 1rem;
        }

        @content;
    }
}

@mixin block {
    > * {
        display: block;

        &:not(:last-child)::after {
            content: "";
        }

        @content;
    }
}

@mixin bullet($bullet: "•", $size: 1em) {
    > * {
        &::before {
            display: inline-block;
            content: $bullet;
            margin-left: -#{$size};
            width: #{$size};
            height: #{$size};
            flex: 0 0 #{$size};

            @content;
        }
    }
}

@mixin circle($size: 0.5em, $color: currentColor) {
    > * {
        &::before {
            display: inline-block;
            content: "";
            margin: #{$size} #{$size} 0 -#{$size};
            width: #{$size};
            height: #{$size};
            flex: 0 0 #{$size};
            background: $color;
            border-radius: 100%;

            @content;
        }
    }
}

@mixin convert-to-grid($width: 20em, $gap: 2em) {
    column-width: $width;
    column-rule: 1px solid;
    list-style: none;
    margin: 0 -#{$gap};
    overflow: hidden;

    > * {
        break-inside: avoid;
        margin: 0 #{$gap};
    }

    @content;
}

@mixin color($color: currentColor) {
    > * {
        &::before {
            color: $color;
        }
    }
}

@mixin background-icon($url: "") {
    @include background-position {
        background-image: url($url);

        @content;
    }
}

@mixin background-position {
    @include bullet("") {
        background-repeat: no-repeat;
        background-position: center center;

        @content;
    }
}
