$select: ".accordion" !default;

%inactive-outline {
    outline: none;
}

%active-outline {
    outline-color: -webkit-focus-ring-color;
    outline-color: Highlight;
    outline-style: auto;
}

@mixin base {
    #{$select} {
        @extend %inactive-outline;

        &__header {
            margin: 0;
        }

        &__button {
            -webkit-appearance: none;
            appearance: none;

            font: inherit;
            text-align: inherit;

            width: 100%;
            margin: 0;
            padding: 0;
            background: transparent;
            border: none;
            color: inherit;
            word-break: break-word; // getting this request a lot of words not breaking to next line

            @extend %inactive-outline;

            &[aria-expanded="true"] {
                &:focus {
                    @extend %active-outline;
                }
            }

            &:focus {
                @extend %active-outline;
            }
        }

        &__section {
            &[hidden] {
                display: none;
            }
        }

        &--is-focused,
        &:focus-within {
            @extend %active-outline;
        }

        @content;
    }
}
